.text-option-btn {
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.play-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #0000008c;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    /* Animación al hacer clic */
    &:active {
        transform: scale(0.9);
    }

    /* Animación al pasar el mouse por encima */
    &:hover {
        background-color: #fff;
        color: #000;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
}

.fa-play {
    font-size: 24px;
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.2s ease-in-out;
}

.play-2 {
    font-size: 24px;
    position: absolute;
    top: 66%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.2s ease-in-out;
}

.play-3 {
    font-size: 24px;
    position: absolute;
    top: 69%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.2s ease-in-out;
}

.play-4 {
    font-size: 24px;
    position: absolute;
    top: 71%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.2s ease-in-out;
}

.play-5 {
    font-size: 24px;
    position: absolute;
    top: 74%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.2s ease-in-out;
}

.play-6 {
    font-size: 24px;
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.2s ease-in-out;
}

.play-button:hover .fa-play {
    transform: translate(-50%, -50%) rotate(90deg);
}

.play-button:hover .fa-play-2 {
    transform: translate(-50%, -50%) rotate(90deg);
}